.title-wrapper {
text-align : center
}
.footer-wrapper {
text-align : center
}

.title {
margin-top: 5px;
display :inline-block
}

.footer{

display :inline-block
}

body {
  /* white-space: pre-wrap; */
}
